<h1>
  {{title}}
</h1>

<input 
  id="in" 
  type="text" 
  size="30" 
  placeholder="Search for..." 
  pInputText [(ngModel)]="text">  
{{text}}
<button 
  type="button" 
  (click)="toggleDisabled()" 
  pButton label="Search">
</button>
